<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{#if pagetitle}}{{pagetitle}} &hyphen; {{/if}}{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {{#if isProduction}}
        <link rel="stylesheet" href="/assets/css/simpleton.min.css?v={{version}}">
        <link rel="stylesheet" href="/assets/css/docs.min.css?v={{version}}">
    {{else}}
        <script>
            const simp = document.createElement('link');

            simp.rel = 'stylesheet';
            simp.href = `/assets/css/simpleton.min.css?v=${new Date().getTime()}`;

            const docs = document.createElement('link');

            docs.rel = 'stylesheet';
            docs.href = `/assets/css/docs.min.css?v=${new Date().getTime()}`;

            document.getElementsByTagName('head')[0].appendChild(simp);
            document.getElementsByTagName('head')[0].appendChild(docs);
        </script>
    {{/if}}
</head>
<body>
<div class="simp container">
    <header>
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/markup/">Markup</a></li>
                <li><a href="/colors/">Colors</a></li>
                <li><a href="/buttons/">Buttons</a></li>
                <li><a href="/grids/">Grids</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{ contents }}}
    </main>
</div>
{{#unless isProduction}}
    <script src="http://localhost:35729/livereload.js"></script>
{{/unless}}
</body>
</html>
