<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{#if pagetitle}}{{pagetitle}} &hyphen; {{/if}}{{ title }}</title>
    {{#if description}}
        <meta name="description" content="{{description}}">
    {{/if}}
    <link href="//fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    {{#if isProduction}}
        <link rel="stylesheet" href="/assets/css/simpleton.min.css?v={{version}}">
        <link rel="stylesheet" href="/assets/css/docs.min.css?v={{version}}">
    {{else}}
        <script>
            const simpcss = document.createElement('link');

            simpcss.rel = 'stylesheet';
            simpcss.href = `/assets/css/simpleton.css?v=${new Date().getTime()}`;

            const docscss = document.createElement('link');

            docscss.rel = 'stylesheet';
            docscss.href = `/assets/css/docs.css?v=${new Date().getTime()}`;

            document.getElementsByTagName('head')[0].appendChild(simpcss);
            document.getElementsByTagName('head')[0].appendChild(docscss);
        </script>
    {{/if}}
</head>
<body>
<div class="simp container">
    <header class="row site-header">
        <h1 class="site-name">{{title}}</h1>
        <nav>
            <ul class="row site-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/markup/">Markup</a></li>
                <li><a href="/colors/">Colors</a></li>
                <li><a href="/buttons/">Buttons</a></li>
                <li><a href="/grids/">Grids</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{contents}}}
    </main>
</div>
<script src='/assets/vendor/prism.min.js?v={{version}}'></script>
{{#if isProduction}}
    <script src='/assets/js/simpleton.min.js?v={{version}}'></script>
    <script src='/assets/js/docs.min.js?v={{version}}'></script>
{{else}}
    <script src="http://localhost:35729/livereload.js"></script>
    <script>
        const simpjs = document.createElement('script');

        simpjs.src = `/assets/js/simpleton.js?v=${new Date().getTime()}`;

        const docsjs = document.createElement('script');

        docsjs.src = `/assets/js/docs.js?v=${new Date().getTime()}`;

        document.getElementsByTagName('body')[0].appendChild(simpjs);
        document.getElementsByTagName('body')[0].appendChild(docsjs);
    </script>
{{/if}}
</body>
</html>
