---
pagetitle: Buttons
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card">
    <header><h2>Buttons</h2></header>
    <div class="output">
        <button class="button">default</button>
        {{#each sassVars.colors}}
            <button class="button {{@key}}">{{@key}}</button>
        {{/each}}
    </div>
    <div class="markup">
        <!--@formatter:off-->
        <pre><code class="lang-html">```<button class="button">default</button>
{{#each sassVars.colors}}<button class="button {{@key}}">{{@key}}</button>
{{/each}}```</code></pre>
        <!--@formatter:on-->
    </div>
</section>

<section class="simp card">
    <header><h2>Forms</h2></header>
    <div class="output">
        <form action="">
            <fieldset>
                <div><label for="email">Email</label></div>
                <div class="row noalley">
                    <div><input type="email" id="email" name="email"></div>
                    <div>
                        <button class="button sq">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="markup"></div>
</section>
