---
pagetitle: Forms
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mgb-300">
    <h2>Forms</h2>
    <div class="output mgb-175">
        <button class="button">default</button>
        {{#each sassVars.colors}}
            <button class="button {{@key}}">{{@key}}</button>
        {{/each}}
    </div>
    <div class="markup">
        <!--@formatter:off-->
        <pre><code class="lang-html">```<button class="button">default</button>
{{#each sassVars.colors}}<button class="button {{@key}}">{{@key}}</button>
{{/each}}```</code></pre>
        <!--@formatter:on-->
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Forms</h2>
    <div class="output mgb-175">
        <form>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="email">Email Address</label>
                <input type="email" id="email">
            </div>
            <fieldset>
                <legend>Choose your partner</legend>
                <div>
                    <label for="emails">Emails Address</label>
                    <input type="email" id="emails">
                </div>
                <input type="radio" id="1" name="1"><label for="1">Peter Griffin</label><br>
                <input type="radio" id="2" name="1"><label for="2">Leslie Knope</label><br>
                <input type="radio" id="3" name="1"><label for="3">Dean Winchester</label><br>
                <input type="radio" id="4" name="1"><label for="4">Tyrion Lannister</label><br>
            </fieldset>
            <div>
                <label for="message">Message</label>
                <textarea id="message" rows="10"></textarea>
            </div>
            <div>
                <input type="checkbox" id="agree"><label for="agree">I agree to serve the overlords to the best of my ability.</label>
            </div>
            <div>
                <button class="button">Submit</button>
                <button disabled class="button">Disabled</button>
            </div>
        </form>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="email">Email Address</label>
        <input type="email" id="email">
    </div>
    <fieldset>
        <legend>Choose your partner</legend>
        <input type="radio" id="1" name="1"><label for="1">Peter Griffin</label><br class="hide-s">
        <input type="radio" id="1" name="1"><label for="1">Leslie Knope</label><br class="hide-s">
        <input type="radio" id="1" name="1"><label for="1">Dean Winchester</label><br class="hide-s">
        <input type="radio" id="1" name="1"><label for="1">Tyrion Lannister</label><br class="hide-s">
    </fieldset>
    <div>
        <label for="message">Message</label>
        <textarea id="message" rows="10"></textarea>
    </div>
    <div>
        <input type="checkbox" id="agree"><label for="agree">I agree to serve the overlords to the best of my ability.</label>
    </div>
    <div>
        <button class="button">Submit</button>
    </div>
</form>```</code></pre>
    </div>
</section>
