---
pagetitle: Forms
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="card mgb-300">
    <h2>Buttons</h2>
    <div class="output mgb-175">
        <div class="mgbch-25">
            <button class="button">default</button>
            <button class="button" disabled>disabled</button>
            {{#each sassVars.colors}}
                <button class="button {{@key}}">{{@key}}</button>
            {{/each}}
        </div>
    </div>
    <div class="markup">
        <!--@formatter:off-->
        <pre><code class="lang-html">```<div class="mgbch-25">
    <button class="button">default</button>
    <button class="button" disabled>disabled</button>
    {{#each sassVars.colors}}
    <button class="button {{@key}}">{{@key}}</button>
    {{/each}}
</div>```</code></pre>
        <!--@formatter:on-->
    </div>
</section>

<section class="card mgb-300">
    <h2>Forms</h2>
    <div class="output mgb-175">
        <form>
            <p>
                <label for="name">Name</label>
                <input type="text" id="name">
            </p>
            <p>
                <label for="email">Email Address</label>
                <input type="email" id="email">
            </p>
            <p>
                <label for="gender">Gender</label>
                <select id="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </p>
            <fieldset>
                <legend>Choose your partner</legend>
                <input type="radio" id="1" name="1"><label for="1">Peter Griffin</label><br>
                <input type="radio" id="2" name="1"><label for="2">Leslie Knope</label><br>
                <input type="radio" id="3" name="1"><label for="3">Dean Winchester</label><br>
                <input type="radio" id="4" name="1"><label for="4">Tyrion Lannister</label><br>
            </fieldset>
            <p>
                <label for="message">Message</label>
                <textarea id="message" rows="6"></textarea>
            </p>
            <p>
                <input type="checkbox" id="agree"><label for="agree">I agree to serve the overlords to the best of my ability.</label>
            </p>
            <p>
                <button class="button">Submit</button>
                <button disabled class="button">Disabled</button>
            </p>
        </form>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<form>
    <p>
        <label for="name">Name</label>
        <input type="text" id="name">
    </p>
    <p>
        <label for="email">Email Address</label>
        <input type="email" id="email">
    </p>
    <p>
        <label for="gender">Gender</label>
        <select id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
    </p>
    <fieldset>
        <legend>Choose your partner</legend>
        <input type="radio" id="1" name="1"><label for="1">Peter Griffin</label><br>
        <input type="radio" id="2" name="1"><label for="2">Leslie Knope</label><br>
        <input type="radio" id="3" name="1"><label for="3">Dean Winchester</label><br>
        <input type="radio" id="4" name="1"><label for="4">Tyrion Lannister</label><br>
    </fieldset>
    <p>
        <label for="message">Message</label>
        <textarea id="message" rows="6"></textarea>
    </p>
    <p>
        <input type="checkbox" id="agree"><label for="agree">I agree to serve the overlords to the best of my ability.</label>
    </p>
    <p>
        <button class="button">Submit</button>
        <button disabled class="button">Disabled</button>
    </p>
</form>```</code></pre>
    </div>
</section>
