---
pagetitle: Sass
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

{{#each sassdocData}}
    <section id="{{context.type}}-{{context.name}}" class="doc-block mgb-300">
        <h2 class="title"><span>{{context.type}}</span><br>{{context.name}}</h2>
        {{#if description}}
            <div class="description">{{{description}}}</div>
        {{/if}}
        {{#ifnoteq group.[0] "undefined"}}
            <h3>Group</h3>
            <p>{{group.[0]}}</p>
        {{/ifnoteq}}
        {{#if parameter}}
            <h3>Params</h3>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                </thead>
                <tbody>
                {{#each parameter}}
                    <tr>
                        <td><code>{{name}}</code></td>
                        <td><code>{{type}}</code></td>
                        <td><code>{{#if default}}{{default}}{{else}}--{{/if}}</code></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
        {{#if require}}
            <h3>Requires</h3>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {{#each require}}
                    <tr>
                        <td><code>{{name}}</code></td>
                        <td><code>{{type}}</code></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
        {{#if context.code}}
            <h3>Code</h3>
            <p>{{{viewsourcelink file.path context.line.start context.line.end}}}</p>
            <pre><code class="lang-scss">{{context.code}}</code></pre>
        {{/if}}
        {{#if context.value}}
            <h3>Value</h3>
            <p>{{{viewsourcelink file.path context.line.start context.line.end}}}</p>
            <pre><code class="lang-scss">{{context.value}}</code></pre>
        {{/if}}
    </section>
{{/each}}

